@font-face {font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_1563009_ojm11np8cm.eot?t=1576252765335'); /* IE9 */
  src: url('//at.alicdn.com/t/font_1563009_ojm11np8cm.eot?t=1576252765335#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKUAAsAAAAABkAAAAJHAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApMYQE2AiQDCAsGAAQgBYRtBy8bhgXIvkA8tqMSEZBUFzMcunB5bePl59c2rINCQgTfj/1+zxXEPTFE0SqeyCQSIVkiQSmU/Eu0UDRk5u3/0qX7d9vKPN8tqxZjqelvJP9+b+fC0jyEBSNRCiFBOLKpizkBMYVrrj6/bqxLJjcrJCvTI5CyMtZ94t7pn0AfZD6gHPeisSZN6gLq4kAKcC+MIiuhjBvGLniBjwm0mTJVOz67uQejsFcF4sFZD0whoigs3yI0NRws4kPVkt7SeI++H/9thiGpmd10fn8awvZ3pyhrcBcQogR0vCJjAyjEdWPmVEMwrqEt0zQHjlUf/N5oBG5xVIdgf51d2wEmoPKZVN5KARI81kT9wOikHUQ//pwnFIabH7ZffTXvlbm2E6fo3py0Xjcr2WDL/lluS18CwWffM95u2gv45SJ7McxHy068wc9QDewrhsZ2paKpGoeT/pO0tGlDAw70+ZtqHTxzIbQYnOBrNpkha7FAFnYDVbstNGmxhzbrzo+36ycaorRizQdA6PGNpMs3ZD1+yML+ohryjyY90UCb2+i/sN1SuN6RkKcUov+GLsgzdj3ai+tvyT4lnuQ1Ef9IUrk4rubLcv6cMpIltlTPdq3KyJKneAaeoyTJsZD8SIHOI9Vis1hw05vmQZ5CzxFBPIqEkO8NcgK5DAejVa/y+VvEepLwSEdPXfERERU3PVqZWw4gz43ZoJ5HeaXyzFpTiiEmcil0BuaRRCKHiuZ5RySg5qIJqcLGwhnEQ43z7c3p3x2DNrYthTMjq4/ORgoAAAAA') format('woff2'),
  url('//at.alicdn.com/t/font_1563009_ojm11np8cm.woff?t=1576252765335') format('woff'),
  url('//at.alicdn.com/t/font_1563009_ojm11np8cm.ttf?t=1576252765335') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('//at.alicdn.com/t/font_1563009_ojm11np8cm.svg?t=1576252765335#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-right:before {
  content: "\e7eb";
}
